
<div class = "panel panel-primary">
  <div class="panel-heading">
     <h3 class="panel-title">Clients</h3>
    </div>
    <div class="panel-body">
  <br />
  <%= link_to("Add New Client", {:action => 'new'}, :class => 'action new', class: "btn btn-default") %>
  <br />
  <br />
  <br />
  <table class = "table table-striped table-hover datatable" summary = "Clients list">
    <thead>
    <tr>    
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Address</th>
      <th>E-mail</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
    </thead>

    
    <tbody>
      <% @clients.each do |client| %>
    <tr>
      <td><%= client.id %></td>
      <td><%= truncate(client.name, length: 20, separator: ' ') %></td>
      <td><%= truncate(client.description, length: 30, separator: ' ') %></td>
      <td><%= truncate(client.address, length: 30, separator: ' ') %></td>
      <td><%= client.email %></td>
      <td><%= client.phone %></td>
      <td>
        <%= link_to("Details", {:action => 'show', :id => client.id}, :class => 'action show', class: "btn btn-info") %>
        <%= link_to("Edit", {:action => 'edit', :id => client.id}, :class => 'action edit', class: "btn btn-warning") %>
        <%= link_to 'Delete', client, method: :delete, data: { confirm: 'Are you sure you want to delete this client?' }, class: "btn btn-danger"%>
      </td>
    </tr>
    <% end %>
  </tbody>
    
  </table>
</div>
</div>

