<!DOCTYPE html>
<html>
<head>
  <title>ProjectManagementSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
      <br />
      <br /><br /><br />
       <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>


<%= nav_bar :fixed => :top, brand: "ENGIE", :responsive => true do %>
    <%= menu_group do %>
        <%= menu_item "Users", users_path %>
        <%= menu_item "Clients", clients_path %>
        <%= menu_item "Projects", projects_path %>
        <%= menu_item "Calendar - Tasks", tasks_path %>
        <%= menu_item "Timetracker", "#" %>
        <%= menu_item "Discussion", posts_path %>
     <% end %>

   <p class="navbar-text pull-right">
    <% if user_signed_in? %>
  <FONT COLOR="white">Logged in as </FONT><FONT COLOR="#eee8d5"><strong><%= current_user.email %></strong></FONT>&nbsp;&nbsp;&nbsp;
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    <% end %>


  <div class="row">
    <div class="span9"><%= yield %></div>
  </div>
</div>

</body>
</html>
